<div class="rpost">
	<a href="{{ fields.path.content }}" class="__img"><img src="{{ fields.field_news_thumbnail.content }}" alt="{{ fields.title.content }}"/></a>
	<div class="__content">
		<div class="__title"><a href="{{ fields.path.content }}">{{ fields.title.content }}</a></div>
		<div class="__date font-serif-italic color-secondary">{{ fields.created.content }}</div>
	</div>
</div>